DEEPSEEK_API_KEY=sk-your-deepseek-api-key
SENDER_EMAIL=your-qq-email@qq.com
SENDER_PASSWORD=your-qq-smtp-auth-code
RECEIVER_EMAIL=receiver1@qq.com,receiver2@gmail.com
HTTP_PROXY=http://127.0.0.1:7890
